@using TechBlog.Core.Models
@using TechBlog.Core.Repository.UnitOfWork
@using TechBlog.UI.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject IUnitOfWork uow;
@model Post;

@inject UserManager<IdentifyUsingUser> UserManager
@{
    IList<Comment> comments = uow.CommentRepository.GetCommentsForPost(Model.PostId);
    IList<Comment> commentsPublish = uow.CommentRepository.GetCommentsPublishForPost(Model.PostId);
}


<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            <form class="mb-4" action="/Post/Comment" method="post">

                <input type="hidden" name="postid" value="@Model.PostId" />
                @if (@UserManager.GetUserName(User) != null)
                {
                    <input type="hidden" name="email" value="@UserManager.GetUserName(User) " />
                    <input type="hidden" name="name" value="@UserManager.GetUserName(User) " />
                }
                else
                {
                    <input type="hidden" name="email" value="Anonymous" />
                    <input type="hidden" name="name" value="Anonymous" />
                }

                <textarea placeholder="Share your thoughts..." class="comment-content form-control" name="commentText" maxlength="1000"></textarea>

                <div class="insert-text">
                    <span id="chars">20</span> characters remaining
                    <div class="comment-as">
                        <span>
                            <strong>Comment header:&nbsp;</strong> <input type="text" name="commentHeader" placeholder="enter your comment header">
                        </span>
                        <span>
                            <input type="submit" value="Send" />
                        </span>
                        <p class="comment-post">Your Comment has been posted<i class="fa fa-close"></i></p>
                    </div>
                </div>
            </form>
            <!-- Comment with nested comments-->
            <div class="d-block">

                <!-- Parent comment-->
                @foreach (var item in commentsPublish)
                {
                    <div class="d-flex mb-4">
                        <div class="flex-shrink-0"><img class="rounded-circle" style="width: 30px; height: 30px; border-radius: 50%" src="/assets/img/default-avatar.png" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">@item.Name <span class="fw-light" style="font-size: 14px">commented on @item.CommentTime</span></div>
                            <div class="fw-bolder">@item.CommentHeader</div>
                            @item.CommentText
                            <div>
                                <a href="#">Reply</a>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</section>